---
import Layout from '../layouts/Layout.astro';
import Img from '../components/Img.astro';
---

<Layout title="Stats-preview-card-component.">


<main class="text-white flex items-center justify-center h-screen">
	
	<div class="flex bg-gray-900 rounded-l-lg max-w-5xl h-96">
		<div class="mt-8 px-14 mr-20">
			<h1 class="text-4xl font-bold mt-4 mb-8">Get <span class="text-purple-500">insights</span> that help your business grow.</h1>
			<p class="mb-10 text-l text-gray-400 block my-4">Discover the benefits of data analytics and make 
				 better decisions regarding revenue, customer 
				experience, and overall efficiency.
			</p>
			<div class="flex space-x-12 mt-8">
				<p>
				  <span class="text-1xl font-bold">10k+</span><br>
				  <span class="uppercase text-sm">companies</span>
				</p>
				<p>
					<span class="text-1xl font-bold">314</span><br>
					<span class="uppercase text-sm">templates</span>
				</p>
				<p>
					<span class="text-1xl font-bold">12m+</span><br>
				    <span class="uppercase text-sm">queries</span>
				</p>
			  </div>
		</div>
	<Img />
	</div>
	</main>
  </Layout>
<style>

</style>